<%- include('header'); -%>


    <div>
        <h2> Update Post </h2>
        <div class="form-group">
            <form action="/<%= id %>" method="POST">
                <label for="_title">Title</label>
                <input id="_title" type="text" name="title" class="form-control" value="<%= title %>"><br>
                <p></p>
                <label for="_post">Post</label>
                <textarea name="post" id="_post" cols="30" rows="10" class="form-control"><%= post %></textarea><br>
                <button type="submit"> Post </button>
            </form>

        </div>
    </div>


    <%- include('footer'); -%>